<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Alphabetically</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Recipes Alphabetically</h1>
        <div class="buttons">
            <a href="/" class="button">Back to Home</a>
        </div>
    </header>
    <main>
        <ul class="recipes-list">
            {% for meal in meals %}
                <li>
                    <button class="recipe-btn" onclick="redirectToRecipe('{{ meal['idMeal'] }}')">{{ meal['strMeal'] }}</button>
                </li>
            {% endfor %}
        </ul>
    </main>

    <script>
        function redirectToRecipe(mealId) {
            window.location.href = '/recipe/' + mealId;
        }
    </script>
</body>
</html>
